body{
  overflow-y:scroll;
}

.container {
  padding-right: 150px;
  padding-left: 150px;
}

@media (max-width: 978px) {
  .container {
    padding: 10px 10px 10px 10px;
  }  
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: #00bcdb;
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-header > a {
  color: #00bcdb;
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron {
  background-color: #00bcdb;
  border-radius: 0px;
}

.jumbotron h1 {
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

.jumbotron p {

  color: white;
}

.jumbotron small {
  color: white;
}

.home-content .page-header{
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.home-content {
  color: #344977;
}

.contact-content a {
  color: #344977;
}