body{
  overflow-y:scroll;
  margin-bottom: 40px;
}

.container {
  padding-right: 150px;
  padding-left: 150px;
}

@media (max-width: 978px) {
  .container {
    padding: 10px 10px 10px 10px;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-header > a {
  font-weight: bold;
  color: #00bcdb;
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jumbotron {
  background-color: #00bcdb;
  border-radius: 0px;
}

.jumbotron h1 {
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

.jumbotron p {
  color: white;
}

.home-content h2 {
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #00bcdb;
}

.home-content h3 {
  font-family: 'Josefin Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
}

.home-content {
  color: #606061;
}

.contact-content .container {
  padding-top: 20px;
}

.contact-content a {
  color: #344977;
}