body{
  overflow-y:scroll;
  margin-bottom: 40px;
}

#bootstrap-override {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: white;
}

.container {
  padding-right: 150px;
  padding-left: 150px;
}

@media (max-width: 978px) {
  .container {
    padding: 10px 10px 10px 10px;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-header > a {
  color: #00bcdb;
}

.jumbotron {
  background-color: #00bcdb;
  border-radius: 0px;
  color: white;
}

.home-content h2 {
  color: #00bcdb;
}

.home-content h3 {
  color: #34495E;
}

.home-content {
  color: #606061;
}

.projects-content h3 {
  color: #34495E;
}

.contact-content .container {
  padding-top: 20px;
}