{% extends "base.html" %}
{% load staticfiles %}
{% block blog_content %}
<div class='jumbotron'>
  <div class='container'>
    <h1>Lihsing Chen</h1>
    <p>software engineer, developer</p>
  </div>
</div>
<div class='blog-content'>
	<div class='container'>

{% if latest_post_list %}
  {% for post in latest_post_list %}
		<a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
		<small>{{ post.pub_date }}</small>
		<hr>
		<p>{{ post.body|safe }}</p>
  {% endfor %}
{% else %}
  <p>No posts are available.</p>
{% endif %}

	</div>
</div>
{% endblock %}
