{% extends "base.html" %}
{% load staticfiles %}
{% block contact_content %}
	<div class='jumbotron'>
	  <div class='container'>
	    <h1>Contact</h1>
	    <p>feel free to contact me</p>
	  </div>
	</div>
  <div class='contact-content'>
  	<div class='container'>
  		<a href='mailto:josh7910@gmail.com'><img height='140' width='140' src='{% static "gmail+icon.png"%}'/></a>
			<a href='https://tw.linkedin.com/pub/li-hsing-chen/80/52b/2a9'><img src='{% static "In-2C-121px-R.png"%}'/></a>
			<a href='https://github.com/jackwhit3'><img src='{% static "GitHub-Mark-120px-plus.png" %}'/></a>
  	</div>
  </div>
{% endblock %}