{% extends "base.html" %}
{% block home_content %}
<div class='jumbotron'>
  <div class='container'>
    <h1>Li Hsing Chen</h1>
    <p>software engineer, developer</p>
  </div>
</div>

<div class='home-content'>
  <div class='container'>
    <div class='home-about'>
      <div class='page-header'><h2>about</h2></div>
      <p>
        a software developer in Taipei,<br>
        I'm passionate about technology, awesome ideas and realizing them<br>
        currently I have a few exciting project ideas trying to implement<br><br>
        this site was built with django and bootstrap
      </p>
    </div>
    
    <div class='home-skills'>
      <div class='page-header'><h2>skills</h2></div>
      <div class='row'>
        <div class='col-sm-4'>
          <h3>c and c++</h3>
          <p>I have been programming a lot and finished several projects with this language since college</p>
        </div>
        <div class='col-sm-4'>
          <h3>python</h3>
          <p>a scripting language I taught myself, I use it to solve algorithm problems and build the back-end of this website</p>
        </div>
        <div class='col-sm-4'>
          <h3>java</h3>
          <p>experienced with, <br>finished some GUI software with java</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <h3>javascript and jQuery</h3>
          <p>self-learnt via Codecademy, great fun to learn!</p>
        </div>
        <div class='col-sm-4'>
          <h3>html and css</h3>
          <p>experienced with</p>
        </div>
        <div class='col-sm-4'>
          <h3>django</h3>
          <p>back-end framework for this website. </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <h3>bootstrap</h3>
          <p>front-end framework for this website</p>
        </div>
        <div class='col-sm-4'>
          <h3>git</h3>
            <p>mainly github</p>
        </div>
        <div class='col-sm-4'>
          <h3>algorithms and data structures</h3>
            <p></p>
        </div>
      </div>
    </div>  <!-- end of div:home-skills -->

    <div class='home-hobbies'>
      <div class='page-header'><h2>hobbies</h2></div>
      <div class='row'>
        <div class='col-sm-6'>
          <h3>math/algorithm problems</h3>
          <p>I always loved math since I was a kid,
            ProjectEuler.net is a place hosting math puzzles requiring programming to solve, 
            I have solved 50+ problems and totally enjoys it!<br></p>
        </div>
        <div class='col-sm-6'>
          <h3>music and guitar</h3>
          <p>ever since I first listened to the Red Hot Chili Peppers and cried in high school, I started playing guitar. I enjoy blues rock and many other prestigious bands, I also appreciate the beauty of classical music such as Bach and Chopin. I sometimes record covers of my favorite songs on <a href='https://www.youtube.com/user/josh7910'>Youtube</a>.</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          <h3>games</h3>
          <p>to master any game actually requires a lot of logical analysis, strategies and hard work. I play various kinds of games, varying from board games like Go, to computer games Hearthstone, and card games like Poker.<br>
          </p>
        </div>
        <div class='col-sm-6'>
          <h3>exercise and workout</h3>
          <p>having a habit of exercising is no doubt an essential. it also mentally strengthens me not easily giving up on things.</p>
        </div>
      </div>
    </div>  <!-- end of div:home-hobbies -->
  </div>  <!-- end of div:container -->
</div>  <!--end of div:home-content -->
{% endblock %}