{% extends "base.html" %}
{% block projects_content %}
<div class='jumbotron'>
  <div class='container'>
    <h1>Projects</h1>
    <p class='invisible'>hidden jumbotron description</p>
  </div>
</div>
<div class='projects-content'>
	<div class='container'>
		<div>
			<h3>Personal Website<br><small>Python, Django, Bootstrap, HTML, CSS</small></h3>
				<ul>
					<li>Full-stack coding, front-end to back-end and server deployment.</li>
					<li>Implemented blogging application and integrated with open-source web editor <a href='https://github.com/django-ckeditor/django-ckeditor'>CKEditor</a>.</li>
				</ul>
		</div>
		<div>
			<h3>Resource Management Windows Software<small><br>C++, Qt</small></h3>
				<ul>
					<li>Implemented an algorithm to decide when to migrate virtual machines on a cluster of host machines, in order to balance loadings and save energy. </li>
					<li>As team lead, I designed the software architecture and assigned members to work on. </li>
					<li>Designed a user interface Windows application in C++ and Qt to show how the algorithm works. </li>
				</ul>
		</div>
		<div>
			<h3>Heads-up poker game<br><small>Java, Netbeans</small></h3>
				<ul>
					<li>Designed user interface and implemented with Java and Netbeans.</li>
					<li>Allows two players to play poker using socket connection.</li>
				</ul>
		</div>
		<div>
			<h3>Project Euler<br><small>C++, Python</small></h3>
				<ul>
					<li><a href='https://projecteuler.net/'>ProjectEuler.net</a> hosts mathematical problems that requires programming skills to solve.</li>
					<li>I have solved <a href='https://projecteuler.net/profile/LiHsing.png'>50+</a> problems, ranked top 5% among all 500K worldwide participants.</li>
				</ul>
		</div>
	</div>
</div>
{% endblock %}