{% extends "base.html" %}
{% block projects_content %}
<div class='jumbotron'>
  <div class='container'>
    <h1>Projects</h1>
    <p class='jumbotron-hide'>hidden jumbotron description</p>
  </div>
</div>
<div class='projects-content'>
	<div class='container'>
		<h3>Personal Website</h3>
		<p>Full-stack coding, back-end to front-end and server deployment.</p>
		<h3>Resource Management Windows Software</h3>
		<p>• Implemented an algorithm to decide when to migrate virtual machines on a cluster of host machines, in order to balance loadings and save energy. </p>
		<p>• As team lead, I designed the software architecture and assigned members to work on. </p>
		<p>• Designed a user interface Windows application in C++ and Qt to show how the algorithm works. </p>
		<h3>Heads-up poker game</h3>
		<p>java netbeans</p>
		<h3>concurrent server</h3>
		<p>c linux network programming</p>
		<h3>comiler</h3>
		<p>xxx</p>
		<h3>ooo</h3>
		<p>fpga+xilinx</p>

	</div>
</div>
{% endblock %}